* {
    box-sizing: border-box;
    font-family: ShortStack;
}

div.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p {
    min-width: 15px;
    min-height: 30px;
    font-size: 2.5vw;
    text-align: center;
    color: #495459
}

p.rounded-border {
    border-style: solid;
    border-color: #909ea4;
    border-radius: 5px;
    padding: 5px;
}

button.menu {
    color: #384757;
    background-color: #a6b8bf;
    width: 25vw;
    height: 6vh;
    min-width: 4.5em;
    min-height: 1.5em;
    font-size: 3vw;
    border: none;
    border-radius: 5%;
    cursor: pointer;
    transition-duration: 0.2s;
}

button.menu:hover {
    background-color: #b4c7cf;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

button.keypad {
    color: #d3ebf5;
    background-color: #829298;
    width: 8vw;
    height: 5vh;
    min-width: 1em;
    min-height: 1.5em;
    font-size: 3vw;
    border: none;
    border-radius: 5%;
    cursor: pointer;
    transition-duration: 0.2s;
}

button.keypad:hover {
    background-color: #9eaaaf;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

@font-face {
    font-family: Apple;
    src: url(AppleGaramond-Bold.ttf);
}

@media screen and (max-width: 800px) {
    p {
        font-size: 6vw;
    }
    
    button.menu {
        width: 80vw;
        height: 8vh;
        font-size: 9vw;
    }
    
    button.keypad {
        width: 26vw;
        height: 15vh;
        font-size: 8vw;
    }
}
